* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2d4a22;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 2rem 0 8rem;
  text-align: center;
}

#logo {
  color: #fff;
  font-weight: 100;
}

h2,
h3 {
  color: #032924;
  font-weight: normal;
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.card {
  text-align: center;
  margin-top: -8rem;
}

.container:hover,
.card:hover {
  opacity: 1;
  opacity: 0.7;
}

.container,
.card {
  width: min(100vw, 1230px);
  margin: auto;
  background: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
}
